div 
{ 
     
    background-color: crimson;  
    border: solid black 2px;
    display: inline-block;
}

#box1 { 
    background-color: green;
    position: static; 
    top: 100px; 
    left:100px; 
    background-image: url(Screenshot\ 2024-10-22\ 105641.png) ; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center ;

} 

#container { 
    width:700px;
    height: 400px ;
    border: 4px solid black; 
    background-color: white; 
    display: flex; 
    flex-direction: column;
 
body { 
    text-align: center;
}



#box2 { 
    background-color: blue;
   
}







#box3 { 
    background-color: red; }
    

#box4 { 
    background-color: rgb(219, 219, 159);
   
}  

#box5{ 
    background-color: antiquewhite;
}

