p{ 
    color: rgb(175, 111, 26)
}  

h1{ 
color:#00f

} 

*{ 
    color:rgb(99, 77, 36);
    background-color:rgb(155, 155, 207)
} 
.heading-class{ 
    color: green; 
    background-color: blueviolet ;
} 
.paras{ 
    color: #00f; 
} 
 
#id1{ 
background-color: bisque ;
} 

#id2{ 
    text-align: center; 
    text-decoration-line: underline overline; 
    text-decoration-style:wavy ; 
    font-weight: bold; 
    font-family: 'Courier New', Courier, monospace; 
    text-transform: Capitalize; 
    
}